<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="$BASE_PATH/resource/js/jquery/jquery-3.1.0.min.js"></script>
    <script src="$BASE_PATH/resource/css/pintuer/js/pintuer.js"></script>
	<script src="$BASE_PATH/resource/js/layer/layer.js"></script>
    <link rel="stylesheet" href="$BASE_PATH/resource/css/pintuer/css/pintuer.css">
    <style>
        *{padding: 0;margin: 0}
        #chat{margin-left:20px;}
        #content{border: 5px solid #d0d0d0;width: 800px;height: 400px}
        .length{width: 745px;display: inline;margin-top: 10px;}
        .bg-sub{display: inline}
    </style>
    <script>
       var websocket=null;
	   var userName ='$userName';
	   
       window.onload=function(){
    	  if('WebSocket' in window){
    		  websocket=new WebSocket("ws://localhost:8082/Information/chat?user="+userName);
    	  }else{
    		  layer.alert('您的浏览器不支持WebSocket', {
                  icon: 0,
				   time: 2000,
                  skin: 'layer-ext-moon'
              })
    	  }
    	  websocket.onopen=function(){
		      layer.alert('websocket连接成功', {
                  icon: 1,
				  time: 2000,
                  skin: 'layer-ext-moon'
              })
    	  }
    	  websocket.onerror=function(){
    		  layer.alert('websocket连接异常', {
                  icon: 2,
                  skin: 'layer-ext-moon'
              })
    	  }
		  
		  websocket.onmessage=function(even){
		     console.log(even);
		  }
      }
	  
	  function sendMessage(){
	      websocket.send($("#msg").val());
	  }
    </script>
</head>
<body>
   <div id="chat">
       <div id="content">

       </div>
       <div>
           <form>
               <input type="text" id="msg" class="input length" placeholder="文本框" />
               <button class="button bg-sub" onclick="sendMessage()"> 发送</button>
           </form>

       </div>
   </div>
</body>
</html>